.add-habit{
    color : rgb(46, 75, 129);
    display: flex;
    flex-direction: column;
    /* background-color: rgba(113, 196, 235, 0.267); */
    background-color: #efefef;
    position: absolute;
    top:150px;
    left: 322px;
    width:50vw;
    height: 70vh;
    right:5em;
    border-radius: 0.9em;
    /* box-shadow: 0px 1px 28px 1px #95adbd57; */
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: scroll;

}
.add-habit h3 , h4 {
   text-align: center;
   }
.add-habit-cards ul{
list-style: none;
padding: 10px;
align-self: center;
}
.add-habit-cards li {
float: left;
width:20vw;
height: 15vh;
border:1px solid rgb(99, 101, 209);
text-align: center;
align-self: center;
padding: 10px;
margin: 30px 22px 0 ;
font-size: 1.5em;

}
.add-habit-cards li:nth-child(1){
    background-color: rgba(204, 203, 203, 0.568);
   
}
.add-habit-cards li:nth-child(3){
    background-image: url('../../images/running.png');
}
    

.add-habit-cards li:nth-child(4){
    background-image: url('../../images/swimming.png');
}
.add-habit-cards li:nth-child(6){
    background-image: url('../../images/water.png');
}
.add-habit-cards li:nth-child(2){
    background-image: url('../../images/readBook.png');
}
.add-habit-cards li:nth-child(5){
    background-image: url('../../images/mask.png');
}
.add-habit-cards li:nth-child(even){
    border-radius: 0 20px;
}
.add-habit-cards li:nth-child(odd){
    border-radius: 20px 0;
}
.add-habit-card-link{
    background-color:rgba(169, 184, 218, 0.089);
    text-decoration: none;
    color:#5d5bb4fb;
    font-weight: bold;

   

}