@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}

.link{
    color : rgb(46, 75, 129);
    text-decoration: none;
    font-size:1.4em;
}
.habit-profile{
    color : rgb(46, 75, 129);
    color : rgb(46, 75, 129);
    widows: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   }
.habit-profile-header{
    width:100%;
    background-color: rgba(148, 184, 243, 0.178);
    display: flex;
    justify-content:flex-end;    
}

.habit-profile-header-name{
    display: inline-block;
   align-self: center;
    
}
.habit-profile-header-logout{
    padding-left:3em;
    align-self: center;
    font-weight: bold;
    padding-right: 2em;
}
.habit-profile-body{
    display:flex;
    height: 85vh;
    justify-content: center;
    flex-flow: row ;
    position: relative;
    font-weight: bold;
}
.habit-profile-body .link{
    position: absolute;
    left: 28em;
}
.habit-profile-body .link:nth-child(2){
    position: absolute;
      left:18em;
}
.habit-profile-body-nav-link {
    padding-top: 15px;
    padding-left: 95px;
}
.habit-profile-body-add{
    align-self: flex-end;
    position: absolute;
       right: 3em;
}